@import '@/presentation/styles/variables.scss';

.backdrop {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 9.2rem 0 0;
  height: 100%;

  @include sm {
    padding: 7.2rem 0 4.8rem;
  }

  .modal {
    display: flex;
    align-items: flex-end;

    @include sm {
      align-items: center;
    }

    .modal-content {
      margin-top: auto;
      pointer-events: all;
      background-color: $white;
      height: auto;
      width: 100vw;
      padding: 3.2rem 2.4rem;
      cursor: default;
      position: relative;

      @include sm {
        margin: auto;
        border-radius: 0.8rem;
        padding: 4rem;

        &.large {
          width: min(72rem, 90vw);
        }

        &.default {
          width: min(62rem, 90vw);
        }

        &.small {
          width: min(55.2rem, 90vw);
        }
      }

      .close-button {
        position: absolute;
        top: -2.4rem;
        right: 1.6rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: $white;
        display: flex;
        background-color: transparent;

        .close-icon {
          width: 1.6rem;
          height: 1.6rem;
          margin-left: 0.8rem;
          fill: $white;
        }
      }

      .modal-header {
        text-align: center;
        border-bottom: 1px solid $black;
        padding-bottom: 2.4rem;
        margin-bottom: 3.2rem;

        .title {
          font-size: 2.4rem;
          font-weight: bold;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
